@media only screen and (max-width: 850px) {
    li{
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    #retro, #benefits, #purpose {
        padding-top: 0.02em!important;
        padding-bottom: 0.02em!important;
    }
    #contact p {
        font-size: 12px;
    }
    #contact a {
        font-size: 12px;
    }
    #about img, h1 {
        font-size: 18px;
        display: flex;
    }
    #hide {
        display: none;
    }
}


a {
text-decoration: none;
}

* {
    font-family: sans-serif;
    color: rgba(126,100,60,255);
    font-size: 16px;
    margin-top: 3px;
    line-height: 35px;
}

img {
    margin-bottom: 3px;
    margin-top: 3px;
}

#logo {
    width: 100px;
    color: rgba(230,202,127,255);
    align-items: center;
    margin-left: 45%;
    margin-top: 30px;
}

p {
    color: rgba(126,100,60,255);
}

h1, h2, h3 {
    color: #9b8a52;
    margin-left: 33%;
    margin-bottom: 20px;
}

h5 {
    color: rgba(126,100,60,255);

}

input {
    margin-bottom: 10px;
    width: 150px;
    margin-right: 5px;
}

#info {
    color: rgba(126,100,60,255);

}

.header:hover{
  transform: scale(.2);
  cursor: pointer;
  transform: translate3d(4%, 2%, 0);
  transition: 1500ms ease;
  filter: invert(.5);
}

#benefits {
    justify-content: baseline;
}
